#header {
    background: #6d6d6d;
    height: 100px;
}

#header h1 {
    text-align: center;
    padding-top: 20px;
}

#nav {
    background-color: #6d6d6d;
    text-align: center;
}

.mainBtns {
    list-style: none;
    display: inline-block;
}

.mainBtns .nav_button {
    float: left;
    margin: 0 20px;
}

.mainBtns .nav_button a {
    color: black;
    text-decoration: none;
}

.mainBtns .nav_button a:hover {
    color: white;
    background-color: black;
}

#ordersTable {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.ordersTH, .ordersTD {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: lightgray;
}

.ordersTH {
    background-color: darkgray;
}

#adminLoginTable {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.adminLoginTH, .adminLoginTD {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: lightgray;
}

.adminLoginTH {
    background-color: darkgray;
}